@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* overflow-y: hidden; */
}

.Toastify__toast--success {
  background: #4bb543; /* Yeşil renk */
  color: white;
}

.Toastify__toast--error {
  background: #d8000c; /* Kırmızı renk */
  color: white;
}
